@page "/company-management"
@using Domain.Models
@using Application.Interfaces
@inject ICompanyService CompanyService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h3>Company Management</h3>

<button class="btn btn-success mb-3" @onclick="OpenCreateModal">Add Company</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th style="width: 300px;">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var company in companies)
        {
            <tr>
                <td>@company.Id</td>
                <td>@company.Name</td>
                <td>@company.Address</td>
                <td>
                    <button class="btn btn-primary btn-sm" @onclick="() => OpenEditModal(company)">Edit</button>
                    <button class="btn btn-sm btn-danger" @onclick="() => HandleDelete(company.Id)">Delete</button>
                    <button class="btn btn-info btn-sm" @onclick="() => ManageEmployees(company.Id)">
                        View Employees
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<CompanyModal IsVisible="isModalVisible"
              CurrentCompany="selectedCompany"
              OnSave="RefreshData"
              OnClose="HideModal" />

@code {
    private List<Company> companies = new();
    private bool isModalVisible = false;
    private Company selectedCompany = new();

    protected override async Task OnInitializedAsync()
    {
        await RefreshData();
    }

    private async Task RefreshData()
    {
        companies = await CompanyService.GetAllCompanies();
        isModalVisible = false;
    }

    private void OpenCreateModal()
    {
        selectedCompany = new Company();
        isModalVisible = true;
    }

    private void OpenEditModal(Company company)
    {
        selectedCompany = company;
        isModalVisible = true;
    }

    private void HideModal() => isModalVisible = false;

    private void ManageEmployees(int id)
    {
        NavigationManager.NavigateTo($"/my-employees/{id}");
    }

    private async Task HandleDelete(int id)
    {
        try
        {
            await CompanyService.DeleteById(id);
            await RefreshData();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error deleting company: {ex.Message}");
        }
    }
}