@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<div>
    <label>Test:</label>
    <input type="text" @bind="userInput" />
    <button class="btn btn-primary" @onclick="HandleClick">Submit me</button>
</div>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private string userInput = "";

    private void HandleClick()
    {
        currentCount += int.Parse(userInput);
    }
    private void IncrementCount()
    {
        currentCount++;
    }
}
